@import "compass/reset";
@import "compass/css3";

$highlight-color : #398235;
$code-color      : #6d0019;
$code-color-2    : #6d0019;
$base-color      : #424242;
$dark-color      : #111;
$arrow-color     : #f00;

$base-fs         : 42px;
