@import url('reset.css');

@import url('../fonts/Lobster-fontfacekit/stylesheet.css');
@import url('../fonts/telex/stylesheet.css');
@import url('../fonts/source-code-pro-fontfacekit/stylesheet.css');

@import url('highlight.js/solarized_light.css');


a {
  color: #398235;
  text-decoration: none;
}

li {
  list-style-type: circle;
  margin-left: 1em;
  font-size: 32px;
}

body, html {
  height: 100%;
  min-height: 740px;
}

body {
  background: rgb(205,235,142); /* Old browsers */
  background: url("../img/light_wool.png"), -webkit-radial-gradient(center, ellipse cover, #c9de96 0%,#8ab66b 44%,#398235 100%);
  background: url("../img/light_wool.png"), radial-gradient(ellipse at center, #c9de96 0%,#8ab66b 44%,#398235 100%);

  font-family: 'Lobster';
  font-size: 42px;
  line-height: 1.5;
  color: #424242;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.45);
}

code {
  color: #6d0019;
}

pre code {
  font-family: 'SourceCodeProRegular';
  font-size: 18px;
  text-shadow: none;
  border: 3px solid #398235;
  box-shadow: 0px 0px 10px #398235;
}

.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;

  opacity: 0;

  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.step.active {
  opacity: 1 !important;
}

.step {
  opacity: 0;
  -webkit-transition: opacity 500ms;
}

.big {
  text-align: center;
  font-size: 100px;
}

strong {
  color: #6d0019;
}

.legend {
  position: absolute;
  bottom: -100px;
  right: 0;
  font-size: 24px;
}

#step-1 .info {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 1.35em;
  text-align: center;
  padding-bottom: 0.4em;
  font-family: 'telex_regularregular';
}

#step-1 h1 {
  border-top: 3px solid #398235;
  padding: 90px 0;
}

#step-1 img {
  width: 1000px;
  margin-left: -50px;
}

#step-1 .subtitle {
  border-bottom: 3px solid #398235;
  font-size: 34px;
  letter-spacing: 0;
  padding-bottom: 0.2em;
  text-align: center;
}

#step-1 .author {
  position: absolute;
  bottom: -30px;
  right: 40px;
  font-size: 20px;
}

#step-2 .more {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.slide {
  font-size: 48px;
  border-top: 3px solid #398235;
  border-bottom: 3px solid #398235;
  padding: 90px 0;
  text-align: center;
  line-height: 1.85em;
  -webkit-transition: all 1s;
}

#step-9 img {
  width: 1200px;
  margin-left: -150px;
}

.flipcard {
  float: left;
  width: 200px;
  height: 200px;
  margin: 80px 10px 0px;;
  position: relative;
  -webkit-perspective: 600px;
}

.flipcard div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid #fff;
  border-radius: 100px;
  background: -webkit-linear-gradient(-45deg, #a90329 0%,#8f0222 44%,#6d0019 100%);
  text-align: center;
  -webkit-box-shadow: 0 1px 5px #398235;
  box-shadow: 0 1px 5px #398235;

  color: white;
  text-shadow: 0 1px 0 #398235;
  font-size: 26px;
  cursor: pointer;

  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.flipcard .front {
  z-index: 900;
  -webkit-transform: rotateY(0deg);
}

.flipcard .back {
  z-index: 800;
  -webkit-transform: rotateY(-180deg);
  background: -webkit-linear-gradient(-45deg, #ffa84c 0%,#ff7b0d 100%);
}

.flipcard.flip .front {
  -webkit-transform: rotateY(180deg);
}

.flipcard.flip .back {
  -webkit-transform: rotateY(0deg);
}

body.impress-on-step-20,
body.impress-on-step-21,
body.impress-on-step-22,
body.impress-on-step-23,
body.impress-on-step-24,
body.impress-on-step-25,
body.impress-on-step-26,
body.impress-on-step-27,
body.impress-on-step-28,
body.impress-on-step-29,
body.impress-on-step-30,
body.impress-on-step-31,
body.impress-on-step-32,
body.impress-on-step-33,
body.impress-on-step-34,
body.impress-on-step-35,
body.impress-on-step-36,
body.impress-on-step-37,
body.impress-on-step-38,
body.impress-on-step-39,
body.impress-on-step-40 {
  background-color: #111;
  background-image: none;
  color: #fff;
  text-shadow: none;
}

.inventors .name {
  position: absolute;
  left: 420px;
  top: 1600px;
  opacity: 0.1;
  -webkit-transition: all 1200ms ease-in-out 200ms;
}

.inventors .language {
  position: absolute;
  left: 550px;
  top: 1600px;
  opacity: 0.1;
  -webkit-transition: all 1200ms ease-in-out 500ms;
}

.inventors.active .name {
  top: 350px;
  opacity: 1;
}

.inventors.active .language {
  top: 420px;
  opacity: 1;
}

.impress-on-step-28 #step-21,
.impress-on-step-28 #step-22,
.impress-on-step-28 #step-23,
.impress-on-step-28 #step-24,
.impress-on-step-28 #step-25,
.impress-on-step-28 #step-26,
.impress-on-step-29 #step-21,
.impress-on-step-29 #step-22,
.impress-on-step-29 #step-23,
.impress-on-step-29 #step-24,
.impress-on-step-29 #step-25,
.impress-on-step-29 #step-26 {
  opacity: 1;
}

.impress-on-step-28 .inventors .name,
.impress-on-step-28 .inventors .language,
.impress-on-step-29 .inventors .name,
.impress-on-step-29 .inventors .language {
  opacity: 0;
}

.impress-on-step-28 #step-21,
.impress-on-step-29 #step-21 {
  left: 300px;
  top: 150px;
}
.impress-on-step-28 #step-22,
.impress-on-step-29 #step-22 {
  left: 300px;
  top: -250px;
}
.impress-on-step-28 #step-23,
.impress-on-step-29 #step-23 {
  left: 300px;
  top: -650px;
}
.impress-on-step-28 #step-24,
.impress-on-step-29 #step-24 {
  left: -300px;
  top: 150px;
}
.impress-on-step-28 #step-25,
.impress-on-step-29 #step-25 {
  left: -300px;
  top: -250px;
}
.impress-on-step-28 #step-26,
.impress-on-step-29 #step-26 {
  left: -300px;
  top: -650px;
}

#step-21:after,
#step-22:after,
#step-23:after,
#step-24:after,
#step-25:after,
#step-26:after {
  content : '☞';
  position: absolute;
  display: block;
  color: red;
  font-size: 96px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
}

.impress-on-step-29 #step-21:after,
.impress-on-step-29 #step-22:after,
.impress-on-step-29 #step-23:after,
.impress-on-step-29 #step-24:after,
.impress-on-step-29 #step-25:after,
.impress-on-step-29 #step-26:after {
  opacity: 1;
}

.impress-on-step-29 #step-21:after {
  top: 220px;
  left: 80px;
  -webkit-transform: rotate(16deg);
}

.impress-on-step-29 #step-22:after {
  top: 281px;
  left: 61px;
  -webkit-transform: rotate(-20deg);
}

.impress-on-step-29 #step-23:after {
  top: 358px;
  left: 80px;
  -webkit-transform: rotate(-49deg);
}

.impress-on-step-29 #step-24:after {
  top: 305px;
  left: 121px;
  -webkit-transform: rotate(-71deg);
}

.impress-on-step-29 #step-25:after {
  top: 291px;
  left: 4px;
  -webkit-transform: rotate(43deg);
}

.impress-on-step-29 #step-26:after {
  top: 421px;
  left: 172px;
  -webkit-transform: rotate(-62deg);
}

.impress-on-step-30 #step-27 {
  opacity: 1;
}

.impress-on-step-30 #step-27 .name {
  opacity: 1;
  top: 350px;
}

.impress-on-step-30 #step-27:after {
  content : '??? ☞';
  position: absolute;
  left: -58px;
  top: 351px;
  -webkit-transform: rotate(-20deg);
  display: block;
  color: red;
  font-size: 96px;
  opacity: 1;
  -webkit-transition: opacity 500ms;
}

#step-31:after {
  content : '⚠☞';
  position: absolute;
  left: 72px;
  top: 320px;
  -webkit-transform: rotate(-51deg);
  display: block;
  color: red;
  font-size: 96px;
  opacity: 1;
  -webkit-transition: opacity 500ms;
}

#step-32:after {
  content : 'OMG! ☞';
  position: absolute;
  left: -102px;
  top: 297px;
  -webkit-transform: rotate(-15deg);
  display: block;
  color: red;
  font-size: 72px;
  opacity: 1;
  -webkit-transition: opacity 500ms;
}

#step-37 code {
  font-size: 14px;
}

.impress-on-step-39 #step-38,
.impress-on-step-40 #step-38 {
  opacity: 1;
}

.impress-on-step-39 #step-38:after {
  content : '☜ Wut?';
  position: absolute;
  left: 295px;
  top: 248px;
  -webkit-transform: rotate(-8deg);
  display: block;
  color: red;
  font-size: 72px;
  opacity: 1;
  -webkit-transition: opacity 500ms;
}

.impress-on-step-40 #step-38:after {
  content : 'ッ !';
  position: absolute;
  left: 295px;
  top: 248px;
  -webkit-transform: rotate(-8deg);
  display: block;
  color: red;
  font-size: 72px;
  opacity: 1;
  -webkit-transition: opacity 500ms;
}

#step-41 {
  font-size: 60px;
}

.example pre {
  margin-bottom: 20px;
  position: relative;
}

.example pre code {
  max-height: 400px;
  overflow: auto;
}

.example pre:after {
  content: ' ';
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  box-shadow: 0 0 10px #398235;
  border-radius: 80px;
  position: absolute;
  top: 4px;
  left: -80px;
}

.example pre.coffeescript:after {
  background: url('../img/coffeescript-logo.svg'), -webkit-linear-gradient(-45deg, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 100%);
  background-size: auto 70px;
  background-position: -10px -2px;
}

.example pre.javascript:after {
  content: 'JS';
  background: -webkit-linear-gradient(-45deg, #ffa84c 0%,#ff7b0d 100%);
  font-size: 36px;
  text-align: center;
  padding-top: 4px;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
}
